##################################
# Maven / Java
##################################
target/
*.class

##################################
# Logs
##################################
*.log
logs/

##################################
# Environment & Secrets
##################################
.env
.env.*
application-*.yml
application-*.properties

##################################
# IDEs
##################################
# IntelliJ
.idea/
*.iml

# Eclipse / STS
.project
.classpath
.settings/
.springBeans
.sts4-cache

# VS Code
.vscode/

##################################
# OS
##################################
.DS_Store
Thumbs.db
